*{

    transition: all 0.2s ease-in-out;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #e9e9e9e9, #33333399);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {

    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 600px;
    text-align: center;

}

h1{

    color: #333;
    margin-bottom: 20px;

}

.regras-btn {

    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 6px;

}

.regras-btn:hover{

    background-color: #419744;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

.opcoes{

    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;

}

.opcao {

    width: 100px;
    cursor: pointer;
    border-radius: 50%;

}

.opcao:hover{

    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

}

.resultado-container {

    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    background-color: #d0eaff;
    padding: 20px;
    border-radius: 10px;

}

.escolha {

    text-align: center;

}

.escolha-imagem {

    width: 100px;
    border-radius: 50%;

}

.resultado {

    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;

}

.pontuacao {

    margin-top: 20px;
    font-size: 18px;
    color: #555;

}

.modal {

    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

}

.modal-content{

    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;

}

.close-btn {

    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close-btn:hover,
.close-btn:focus {

    color: #000;
    text-decoration: none;
    cursor: pointer;

}