*{

    transition: all 0.2s ease-in-out;

}

body{

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;

}

#containerJogo {

    text-align: center;
    position: relative;

}

#tituloJogo {

    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;

}

#pontuacao, #vidas {

    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;

}

#telaJogo {

    border: 2px solid #fff;

}

.modal {

    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;

}

.modal-content {

    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    border-radius: 8px;

}

.botao {

    padding: 8px;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    margin-right: 10px;

}

.botao:hover{

    background-color: #bbb;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);

}