*{

    transition: all 0.2s ease-in-out;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9e9e9;
    margin-top: 50px;
    text-align: center;

}

#pontuacoes{

    margin-bottom: 10px;
    font-weight: bold;

}

.tabuleiro{

    margin: 0 auto;
    display: inline-block;

}

.celula{

    width: 100px;
    height: 100px;
    font-size: 48px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #aaa;
    display: inline-flex;/*Flexível e alinhado*/
    justify-content: center;
    align-items: center;
    vertical-align: middle;/*Alinhamento vertical em relação ao container pai seja no meio*/
    margin: 5px;

}

.celula:hover{

    background-color: #fff;

}