body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;

}

.container{

    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    min-height: 200px;
    max-height: 600px;

}

h1{

    color: #333;
    margin-bottom: 20px;

}

.input-wrapper{

    position: relative;
    margin-bottom: 20px;

}

input{

    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

}

input:focus{

    outline: none;
    border-color: #007BFF;

}

label {
    
    position: absolute;
    left: 55px;
    top: 8px;
    background: #fff;
    padding: 0 5px;
    color: #666;
    font-size: 16px;
    transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
    pointer-events: none;

}
 /* Label moves up when input is focused or not empty */
input:focus + label,
input:not(:placeholder-shown) + label {

    transform: translateY(-20px);
    color: #007BFF;
    font-size: 14px;

}
 /* Remove outline for accessibility states */
:focus,
:focus-visible,
:focus-within,
:-moz-focusring,
:-moz-focus-inner,
:-moz-focus-outer {

    outline: none;

}

button{

    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}

button:hover{

    background-color: #0056b3;

}

button:active{

    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;

}

#qrcode{

    margin-top: 20px;
    display: flex;
    justify-content: center;

}

























