*{

    transition:all 0.2s ease-in-out;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

.game-container {

    position: relative;/*Permite posicionamento absoluto de seus elementos filhos em relação a esse container*/
    width: 800px;
    height: 600px;
    border: 2px solid #fff;

}

canvas {

    display: block;
    background-color: #000;

}

.info {

    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 500px;

}

.modal {

    top: 0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;

}

.modal-content {

    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
    color: #000;

}

button {

    background-color: transparent;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 10px;

}

button:hover {

    background-color: #000;
    color: #fff;
    border-color: #fff;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
    scale: 1.1;

}