*{

    transition: all 0.3s ease-in-out;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #b8ebff, #ea8cff);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{

    background-color: #fff;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);

}

h1{

    margin-bottom: 30px;
    color: #333;

}

button {

    padding: 10px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #b8ebff, #ea8cff, #b8cdff, #ea8cff);
    background-size: 300% 300%;
    background-position: 0% 0%;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;

}

button:hover {

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    background-position: 100% 100%;

}

.escolhas{

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

}

.escolha{

    width: 100px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-right: 5px;

}

.escolha-R{

    border-radius: 50%;

}

.escolha:hover{

    transform: scale(1.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

}

.escolhas-ambos{

    background-color: #b8ebff;
    min-height: 150px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;

}

.modal{

    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 100;
    align-items: center;
    justify-content: center;

}

.modal-content{

    background-color: #fff;
    position: sticky;
    width: 500px;
    border-radius: 10px;
    padding: 20px;

}

#resultado{

    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;

}

#close-btn{

    position:absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    color: #777;
    cursor: pointer;

}

#close-btn:hover{

    color: #333;

}