*{

    transition: all 0.2s ease-in-out;

}

body{

    background-color: #e9e9e9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;

}

.container{

    padding: 20px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 12px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.coluna-esquerda{

    flex: 1;
    /*Define a proporção de crecimento em um container flexível.*/
    padding: 20px;
    border-right: 1px solid #505050;

}

.coluna-direita{

    flex: 2;
    /*Define a proporção de crecimento em um container flexível. O valor
    2 indica que esta coluna crecerá duas vezes mais rápido que as colunas 
    com flex 1, ocupando mais espaço no container*/
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{

    text-align: center;

}

label{

    display: block;
    margin: 20px 0 10px;
    font-weight: bold;

}

select{

    background-color: transparent;
    border: 1px solid #505050;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;

}

select:hover{

    background-color: #505050;
    color: #fff;

}

.info{

    text-align: left;
    margin-bottom: 20px;

}

#grafico{

    width: 100%;
    max-width: 500px;
    margin: 0 auto;

}