* {

    transition: all 0.2s ease-in-out;

}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9e9e9;
    margin: 0;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {

    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}

h2 {

    color: #333;
    margin-bottom: 20px;

}

.barra-superior {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;

}

.input-wrapper {

    position: relative;
    width: 80%;
    
}

input {

    width: 100%;
    background-color: transparent;
    padding: 10px;
    border: 2px solid #999;
    border-radius: 7px;
    outline: none;

}

input:focus {

    border-color: #4e7aff;

}

label {

    position: absolute;
    top: 50%;
    left: 19%;
    font-size: 16px;
    color: #999;
    pointer-events: none;
    background-color: #fff;
    transform: translate(-50%, -50%);
    padding: 2px;

}

input:focus + label,
input:not(:placeholder-shown) + label {

    transform: translateY(-140%);
    left: 2%;
    color: #4e7aff;
    font-size: 14px;

}

button {

    background-color: transparent;
    border: 2px solid #999;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}

button:hover {

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    scale: 1.1;
    background-color: #4e7aff;
    color: #fff;
    border: none;
}

button.editar:hover {

    background-color: #ffc107;

}
button.excluir:hover {

    background-color: #dc3545;

}

table {

    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;

}

td, th {

    border: 1px solid #ddd;
    padding: 5px;

}
th {

    background-color: #eee;

}

tr:nth-child(even) {

    background-color: #f2f2f2;

}

tbody tr:hover {

    background-color: #f2f2f2;

}

.acoes {

    display: flex;
    justify-content: center;
    gap: 10px;

}

.cadatrar-container {

    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.cadatrar-container .input-wrapper {

    margin-bottom: 20px;
    width: 95%;

}


.acoes-formulario {

    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: center;

}

button.salvar:hover {

    background-color: #28a745;

}
button.cancelar:hover {

    background-color: #dc3545;

}