*{

    transition: all 0.2s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {

    background: linear-gradient(-135deg, #664712, #ffcf7c);
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-size: 400% 400%;
    height: 100vh;
    animation: gradientShift 10s ease-in-out infinite;

}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {

    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);

}

header {

    text-align: center;
    margin-bottom: 30px;

}

header h1 {

    font-size: 3rem;

}

section {

    margin-bottom: 30px;

}

section h2 {

    font-size: 1.5rem;
    color: #444;
    margin-bottom: 15px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;

}

form {

    display: flex;
    flex-direction: column;

}

form div {

    margin-bottom: 15px;

}

form label {

    font-weight: bold;
    margin-bottom: 5px;
    color: #555;

}

form textarea {

    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;

}

form button {

    padding: 8px;
    background-color: #c0954b;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    cursor: pointer;
    color: #fff;

}

form button:hover {

    scale: 1.02;
    background-color: #997944;

}

#postsContainer .post {

    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.2);

}

.post p {

    margin-bottom: 10px;
    line-height: 1.5;

}

.post img {

    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 4px;

}

.post button {

    padding: 8px 12px;
    background-color: #c0954b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.post button:hover {

    scale: 1.02;
    background-color: #997944;

}

footer {

    text-align: center;
    margin-top: 20px;

}

.botao-arquivo {

    display: inline-block;
    padding: 8px 12px;
    background-color: #c0954b;
    color: #fff;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 180px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.botao-arquivo:hover {

    background-color: #997944;
    scale: 1.02;

}
.arquivo {

    display: flex;
    flex-direction: column;

}

#nomeArquivo {

    font-size: 0.9rem;
    color: #666;

}