* {

    transition: all 0.2s ease-in-out;

}

body {

    background-color: #e9e9e9;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    margin: 0;

}

canvas {

    border: 2px solid #000;

}

.pontuacao, .recorde {

    position: absolute;
    top: 10px;
    font-size: 20px;
    color: #ff8c00;

}

.pontuacao {

    left: 10px;

}
.recorde {

    right: 10px;

}

#fim-jogo {

    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

button {

    margin-top: 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 10px 12px;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);

}
button:hover {

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-color: #000;
    background-color: white;
    color: #000;
    scale: 1.1;

}