* {

    transition: all 0.2s ease-in-out;

}

body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container { 

    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 10px rgba(0, 0, 0, 0.2);

}

h1 {

    margin-bottom: 20px;
    font-size: 38px;

}

#problema {

    width: 95%;
    text-align: left;
    height: 150px;
    background-color: #ddd;
    border-radius: 10px;
    border: none;
    box-shadow: 10px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    outline: none;
    margin-bottom: 20px;
    padding: 20px;

}

#questao {

    margin-bottom: 20px;

}

.botoes {

    width: 100%;
    justify-content: space-evenly;
    display: flex;

}

.input-wrapper {

    position: relative;
    margin-bottom: 20px;

}

#resposta {

    background-color: transparent;
    border: 1px solid #777;
    border-radius: 6px;
    padding: 10px;
    width: 400px;
    outline: none;

}

#resposta:hover {

    border-color: #000;

}

label {

    position: absolute;
    width: 160px;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-size: 16px;
    color: #777;
    background-color: #fff;

}

input:focus + label,
input:not(:placeholder-shown) + label {

    transform: translateY(-25px);
    width: 120px;
    left: 2%;
    color: #000;
    font-size: 12px;

}

button {

    background-color: transparent;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    height: 40px;
    width: 20%;

}

button:hover {

    scale: 1.1;
    background-color: #000;
    color: #fff;
    border-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}

#mensagem {

    margin: 10px 0;

}

.pontuacao {

    color: blue;

}

.modal {

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-content {

    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 10px;

}

#fecharModal {

    position: absolute;
    top: 10px;
    right: 10px;
    color: #777;
    cursor: pointer;
    font-size: 24px;

}
#fecharModal:hover {

    color: #000;
    scale: 1.05;

}

.modal-content h1 {

    text-align: left;

}

.modal-content p {

    text-align: left;
    width: 95%;
    padding: 8px;
    background-color: #ddd;
    border-radius: 8px;
    border: 1px solid #aaa;

}

.oculto {

    display: none;

}