* {

    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease-in-out;
    margin: 0;
    padding: 0;
    color: #333;

}

body {

    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 20px;

}

.container {

    background-color: #fff;
    padding: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 80%;
    overflow-x: auto;

}

h1, h2, h3 {

    margin-bottom: 20px;

}

h1 {

    color: #333;
    margin-bottom: 10px;

}

h2, h3 {

    color: #555;
    font-size: 18px;
    margin-bottom: 20px;

}

.menu-funcionalidades {

    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;

}

input {

    width: calc(100% - 20px);
    padding: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;

}

input:focus {
    
    border-color: #4e7aff;
}


button {

    padding: 12px 14px;
    background-color: #4e7aff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;

} 
button:hover {

    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    scale: 1.06;

}

.menu-btn {

    width: 20%;
    font-size: 16px;

}

form {

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

form label {

    margin-top: 10px;

}

.secao-ativa {

    display: block;

}

.secao-inativa {

    display: none;

}

.mapa-vagas {

    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

}

.mapa-vagas button {

    font-weight: bold;

}

.vaga-disponivel {

    background-color: rgb(22, 158, 22);

}

.vaga-reservada {

    background-color: rgb(216, 142, 5);

}
.vaga-disponivel:hover {

    background-color: rgb(20, 127, 20);

}

.vaga-reservada:hover {

    background-color: rgb(184, 124, 12);

}

.tabela-container {

    width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;

}

table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0; /* Remove espaçamento entre células */
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #f1f1f1;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: #e3e3e3;
}

/* Remove bordas duplicadas internas */
th:not(:last-child),
td:not(:last-child) {
    border-right: none;
}

tr:not(:last-child) th,
tr:not(:last-child) td {
    border-bottom: none;
}

/* Arredonda os cantos das células das bordas */
tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.acoes {

    display: flex;
    justify-content: space-around;

}

.btnEditar {

    background-color: #ffc107;
    color: #fff;
    padding: 6px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btnEditar:hover {

    scale: 1.03;
    background-color: #e0a800;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

}
.btnExcluir {

    background-color: #dc3545;
    color: #fff;
    padding: 6px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btnExcluir:hover {

    scale: 1.03;
    background-color: #bc2d3b;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

}