
table {

    width: 100%;
    border-collapse: separate; 
    border-spacing: 0; /* Remove espaçamento entre células */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

th, td {

    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    
}

th {

    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(111, 183, 186);
    color: #f1f1f1;
    text-align: center;

}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: #e3e3e3;
}

/* Remove bordas duplicadas internas */
th:not(:last-child),
td:not(:last-child) {
    border-right: none;
}

tr:not(:last-child) th,
tr:not(:last-child) td {
    border-bottom: none;
}

/* Arredonda os cantos das células das bordas */
tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.actions {

    display: flex;
    justify-content: space-around;

}
