*{

    transition: all 0.2s ease-in-out;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9e9e9;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;

}

.container{

    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);   
    border-radius: 10px;
    max-width: 650px;
    width: 100%;

}

h1{

    margin-bottom: 20px;

}

table{

    border-collapse: collapse;
    margin: 20px auto;
    width: 100%;

}

th, td{

    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;

}

th{

    background-color: #ccc;

}

tr{

    background-color: #f1f1f1;

}

tr:nth-child(even){

    background-color: #f9f9f9;

}

tr:hover{

    background-color: #ccc;

}

canvas{

    margin-bottom: 20px;

}