*{

    transition: all 0.2s ease-in-out;

}

body{

    background-color: #e9e9e9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;

}

.container{

    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    max-width: 800px;
    width: 100%;

}

h1{

    margin-bottom: 20px;

}

table{

    margin: 20px auto;
    width: 100%;
    border-collapse: collapse;

}

th, td{

    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;

}

th{

    background-color: #e9e9e9;

}

tr{

    background-color: #f9f9f9;

}

tr:nth-child(even) {

    background-color: #f2f2f2;

}

tr:hover{

    background-color: #e4e4e4;

}

canvas{

    margin-top: 20px;

}