*{

    transition: all 0.1s ease-in-out;

}

body{

    background-color: #e9e9e9;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;

}

h1{

    color: #333;
    margin-bottom: 20px;

}

.filtros{

    margin-bottom: 20px;

}

select{

    padding: 6px;
    border: none;
    box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.772);
    background-color: #ddd;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 30px;

}

table{

    width: 100%;
    border-collapse: collapse;
    background-color: #fff;

}

th, td{

    border: 1px solid #ddd;
    padding: 7px;
    text-align: left;

}

th{

    background-color: #f2f2f2;

}

