*{

    transition: all 0.3s ease-in-out;

}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9e9e9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {

    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;

}

h1 {

    font-size: 26px;
    margin-bottom: 20px;

}

.input-wrapper {

    position: relative;
    margin-bottom: 20px;
    display: flex;

}

input {

    width: 90%;
    padding: 10px;
    border: 1px solid #7e7e7e;
    border-radius: 7px;
    background-color: transparent;
    font-size: 16px;
    color: #000;
    outline: none;

}

input:focus {

    border-color: #000;

}

label {

    position: absolute;
    top: 12px;
    left: 6px;
    color: #7e7e7e;
    font-size: 16px;
    background-color: #fff;
    pointer-events: none;

}

input:focus + label,
input:not(:placeholder-shown) + label {

    transform: translateY(-20px);
    color: #000;
    font-size: 14px;


}
:focus,
:focus-visible,
:focus-within,
:-moz-focusring,
:-moz-focus-inner,
:-moz-focus-outer {

    outline: none;

 }

 .questao {

    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;

 }

 .btn {

    font-size: 18px;
    padding: 10px 12px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

 }
.btn:hover {

    scale: 1.1;
    background-color: #000;
    border-color: #fff;
    color: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);

}

.vidas {

    color: red;

}

.tempo {

    color: blue;

}