*{

    transition: all 0.2s ease-in-out;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #87cee8;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: relative;

}

canvas {

    border: 2px solid #000;
    background-color: #70c5ce;

}

button {

    padding: 10px 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #6ea6ba;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

button:hover {

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    scale: 1.1;
    background-color: #87cee8;

}