*{

    transition: all 1s ease-in-out;

}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;

}

canvas {

    background-color: #fff;

}