* {

    transition: all;

}

body {

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;/*Alinha a partir do top do container*/
    margin: 0;
    height: 100vh;
    background-color: #2c3b50;
    color: #fff;

}

.cabecalho {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

h1 {

    margin: 20px;

}

canvas {

    border: 1px solid #000;
    background-color: #34495e;
    margin-top: 20px;

}

.pontos {

    font-size: 16px;

}