*{

    transition: all 0.2s ease-in-out;

}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    height: 100vh;

}

#game {

    text-align: center;
    max-width: 600px;
    width: 100%;
    margin-top: 20px;

}

#info {

    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

}

#grid {

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
    border: 2px solid #ccc;
    background-color: #fff;
    padding: 10px;

}


.fruta {

    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
.fruta:hover {

    scale: 1.1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}
.fruta-selecionada {

    border: 4px solid red;

}
.fruta-selecionada:hover {

    cursor: not-allowed;
    scale: 1;

}
