.input-wrapper {

    position: relative;
    margin-bottom: 30px;

}

input {

    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #666;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    font-size: 16px;

}

input:focus {

    border-color: cadetblue;

}

label {

    position: absolute;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    background-color: #f9f9f9;
    pointer-events: none;

}

input:focus + label,
input:not(:placeholder-shown) + label {

    transform: translateY(-180%);
    color: cadetblue;
    font-size: 14px;

}
