*{

    transition: all 0.2s ease-in-out;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9e9e9;
    margin: 20px;

}

.listbox-container{

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.listbox-container div{

    width: 32%;

}

table{

    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

th, td{

    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;

}

th{

    background-color: #f2f2f2;

}

.listbox{

    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    height: 150px;
    overflow-y: auto;
    background-color: #eee;

}

.listbox li{

    padding: 5px;
    cursor: pointer;

}
.listbox li:hover{

    background-color: #ddd;

}
.listbox li.selected{

    background-color: #ccc;

}
.listbox li.selected:hover{

    background-color: #bbb;

}