*{

    transition: all 0.2s ease-in-out;

}

body{

    background-color: #e9e9e9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;

}

.container{

    text-align: center;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px #00000036;
    border-radius: 12px;
    position: relative;

}

h1{

    margin-bottom: 20px;

}

select{

    background-color: transparent;
    padding: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 8px;
    margin: 20px 0;

}

select:hover{

    background-color: #ccc;

}

.grafico-barras{

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /*Alinha as barras ao final do conteiner no eixo vertical, assegurando que todas as 
    barras comecem da mesma base(linha de base) facilitando a comparação visual das alturas
    das barras.*/
    width: 100%;
    height: 300px;
    position: relative;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    margin-top: 20px;

}

.barra{

    position: relative;
    width: 60px;
    background-color: #76c7c0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s;

}

.barra img{

    position: absolute;
    bottom: 0;
    width: 50px;
    height: auto;
    transform: translateY(-100%);
    display: none;

}

.barra.vendedor img{

    display: block;

}

.rotulo{

    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
    font-size: 12px;

}

#detalhesVendedor{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;

}

#detalhesVendedor span{

    font-weight: bold;
    margin: 0 10px;

}