body{

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #28577b;
    font-family: 'Roboto', sans-serif;

}

.temporizador-container{

    text-align: center;
    color: #fff;
    background: #1e4767;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.temporizador-container h1{

    font-size: 2.8em;
    margin-bottom: 20px;

}

#temporizador{

    font-size: 3em;
    margin-bottom: 20px;

}

.botoes{

    display: flex;
    justify-content: center;
    gap: 20px;

}

button{

    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #2d648e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, scale 0.1s ease;
    margin: 20px 0;

}

button:hover{

    background-color: #14354e;
    scale: 1.1;

}

button:active{

    scale: 0.9;

}

button:disabled{

    opacity: 0.5;
    cursor: not-allowed;

}

.definir-tempo{

    display: flex;
    justify-content: center;
    gap: 10px;

}

.input-wrapper{

    position: relative;
    margin-bottom: 20px;

}

.input-wrapper input{

    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #1e4767;
    color: #fff;
    text-align: center;
    width: 100px;
    -moz-appearance: textfield; /*Remove as barras de rolagem no Firefox*/

}

.input-wrapper input:focus,
.input-wrapper input:not(:placeholder-shown){

    outline: none;
    border-color: #001f8f;

}

label{

    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    background-color: #1e4767;
    pointer-events: none;
    padding: 0 5px;
    font-size: 1em;
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;

}

.input-wrapper input:focus +label,
.input-wrapper input:not(:placeholder-shown) + label{

    transform: translateY(-28px);
    font-size: 0.8em;
    color: #001f8f;

}

