*{

    transition: all 0.2s ease-in-out;

}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;

}

.telaJogo {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

.info {

    display: flex;
    gap: 20px;
    font-size: 18px;

}

canvas {

    border: 1px solid #fff;
    background-color: #000;

}

