* {

    transition: all 0.3s ease-in-out;

}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffd75a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;

}

canvas {

    border: 2px solid #000;
    background-color: #ffd75a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;

}

.menu {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    background-color: rgba(255, 233, 90, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 2px solid #000;

}

.oculto { 

    display: none;

}

h1 {

    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;

}

p {

    font-size: 24px;
    margin-bottom: 30px;

}

button {

    padding: 10px 12px;
    font-size: 24px;
    cursor: pointer;
    color: #000;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}
button:hover {

    background-color: #000;
    scale: 1.1;
    color: #ffd75a;
    border-color: #ffd75a;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);

}