*{

    transition:  all 0.2s ease-in-out;

}

body {

    margin: 0;
    padding: 0;
    background-color: #ffd75a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

}

canvas {

    border: 2px solid #000;
    background-color: #ffd75a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;

}

.menu {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 600px;
    background-color: rgba(255, 233, 90, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: 2px solid #000;
    border-radius: 10px;

}

.oculto {

    display: none;

}

h1 {

    font-size: 48px;
    margin-bottom: #000;
    text-align: center;

}
p {

    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;

}

button {

    padding: 10px 12px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    
}
button:hover {

    scale: 1.1;
    background-color: #000;
    border-color: #ffd75a;
    color: #ffd75a;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);

}