*{

    transition: all 0.2s ease-in-out;

}

body{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container{

    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;

}

h1{

    margin-bottom: 20px;
    color: #333;

}

.termometro-info-container{

    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.termometro-container{

    position: relative;
    width: 150px;
    height: 400px;

}

.info{

    margin-left: 100px;
    text-align: left;

}

.info h3{

    margin-bottom: 10px;
    color: #333;

}

.info ul{

    list-style: none;
    padding: 0;

}

.info ul li{

    margin: 5px 0;
    font-size: 16px;

}

table{

    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;

}

th, td{

    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    color: #333;

}

th{

    background-color: #e9e9e9;
    font-weight: bold;
    text-transform: uppercase;

}

tr:nth-child(even){

    background-color: #f9f9f9;

}

tr:hover{

    background-color: #f1f1f1;

}

.filtro {

    margin-top: 20px;

}

.filtro label{

    margin-right: 10px;
    font-weight: bold;

}

.filtro select {

    padding: 8px;
    border: 1px solid #777;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;

}

.filtro select:hover{

    background-color: #ddd;

}